@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #333;}

/* slider */
#slider {width: 100%; height: 660px; margin: 0 auto;

}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 60%;
      object-fit: cover;
    }
    .new {width: 1120px; height: 500px; margin: 0 auto;}

    .new .tabbar {height: 10%;}

    .new .swiper {height: 90%;}
