@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* slider */
#slider {
  width: 100%;
  height: 660px;
  margin: 0 auto;

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {opacity: 0; transition: opacity 0.3s ;}
.mySwiper3:hover .swiper-button-next, .mySwiper3:hover .swiper-button-prev {opacity: 1;}

.new{
  width: 1120px;
  height: 500px;
  margin: 0 auto;
   display: flex;
  flex-direction: column; /* 세로 배치 */
}

.new .swiper-slide {
  display: flex;
  flex-direction: column; /* 세로 배치 */
  align-items: center;    /* 가운데 정렬 */
}

.new img {
  width: 150px;
  height: 220px;
  display: block;
}

.new a{ width: 260px;
  text-align: center; height:40px; font-size: 18px; font-family: 'Rufina', serif;}
.new span{font-size: 16px; margin-top: 8px; font-family: 'Rufina', serif; color: #22aeac;}


.new2 {
  width:740px;
  height: 600px;
}

.new2 img {
  margin-left: 40px ;
  display: block;
  width: 40%;
  height: 60%;
}

.new2 a{ font-size:40px; color: #22aeac; font-weight: 700; font-family: 'Rufina', serif;}
.new2 span{font-size: 18px; font-family: 'Rufina', serif;}

.mySwiper2 .swiper-slide {
  display: flex;
  flex-direction: column; /* 세로 배치 */
  align-items: center;    /* 가운데 정렬 */
}

.mySwiper2 img {
  width: 150px;
  height: 220px;
  display: block;
}

.mySwiper2 .text2 {
  width: 250px;
  text-align: center; /* 글씨 가운데 */
  margin-top: 8px;    /* 사진과 글씨 간격 */
}

.mySwiper4 .swiper-slide {display:flex; justify-content: space-between;}
.mySwiper4 img {
  width: 120px;
  height: 160px;
}
.mySwiper4 .text2 {
width: 55%; font-family: 'Rufina', serif;
}
.mySwiper4 a {font-size: 16px; color: #333;}
.mySwiper4 span{font-size: 20px; color: #22aeac;}

.mySwiper5 .swiper-slide {display:flex; justify-content: space-between;}
.mySwiper5 img {
  width: 120px;
  height: 160px;
}
.mySwiper5 .text2 {
width: 55%; font-family: 'Rufina', serif;
}
.mySwiper5 a {font-size: 16px; color: #333;}
.mySwiper5 span{font-size: 20px; color: #22aeac;}

.mySwiper6 .swiper-slide {display:flex; justify-content: space-between;}
.mySwiper6 img {
  width: 120px;
  height: 160px;
}
.mySwiper6 .text2 {
width: 55%; font-family: 'Rufina', serif;
}
.mySwiper6 a {font-size: 16px; color: #333;}
.mySwiper6 span{font-size: 20px; color: #22aeac;}

