@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #333;}

/* slider */
#slider {width: 100%; height: 660px; margin: 0 auto;

}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 60%;
      object-fit: cover;
    }
    .new {width: 1120px; height: 500px; margin: 0 auto;}
.new2{width: 100%; height: 100%; display: flex; justify-content: start; ;margin: 0 auto;}
.new2 img{display: block;
      width: 40%;
      height: 60%;
      object-fit: cover;
      object-position: right;
   }
   .new2 .swiper {align-items: center; display: flex;}
 

   .new2 .swiper .text {width: 100%; text-align: right; margin-right: 30px;} 
   .new2 .swiper .text a {font-size: 50px; padding: 30px 0;}
   .new2 .swiper .text a:hover {transition: .3s;
  color: #22aeac;}
.new2 .swiper .text span {font-size: 28px;}
.new2 .swiper .text p {font-size: 16px; padding: 30px 0;}
 .mySwiper2 img{display: block;
      width: 100%;
      height: 60%;
      object-fit: cover;
      object-position: right;
   }