@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

h1 a {
    text-decoration: none;
    color: #000;
}

section {
    width: 1400px;
    height: 1700px;
    margin: 30px auto 0 auto;
    border: 1px solid #22aeac;
    border-radius: 30px;
    padding: 10px;
    position: relative;
}

section h3 {
    padding-bottom: 10px;
}

.sub_section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sub_box {
    width: 400px;
    height: 500px;
    padding: 15px 30px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 4px 4px 4px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.sub_box img {
    width: 200px;
    height: 300px;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 4px #eee;
    margin-top: 60px;
}

.sub_box h3 {
    font-size: 22px;
    font-weight: bold;
    color: #22aeac;
    margin-top: 20px;
    text-shadow: 1px 1px 2px #ccc;
    text-align: center;
}

table {
    width: 700px;
    border-top: 3px solid #e9e9e9;
    border-bottom: 3px solid #e9e9e9;
    margin-top: 160px;
    margin-right: 20px;
    color: #666;
}

td {
    padding: 6px 15px;
    text-align: left;
}

td:first-child {
    width: 100px;
}

button {
    margin: 3px;
    cursor: pointer;
}

button:first-child {
    background-color: #22aeac;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
    border: none;
}

button:nth-child(2) {
    background-color: #a2abb0;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
    border: none;
}

button:nth-child(3) {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    color: #666;
    border: 1px solid #ddd;
}

button:nth-child(4) {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    color: #666;
    border: 1px solid #ddd;
}

.contextbox, #tmpBox {
    width: 1200px;
    margin: 50px auto 0 auto;
    display: block;
    background: #f9f9f9;
    color: #444;
    clear: both;
    border-radius: 15px;
    padding: 40px 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

.contextbox h6 {
    font-size: 20px;
    color: #666;
    text-align: left;
    line-height: 150%;
    padding-left: 20px;
}

.contextbox p {
    font-size: 15px;
    color: #666;
    text-align: left;
    line-height: 150%;
}

.contextbox span {
    font-size: 12px;
    color: #666;
    float: right;
}

#tmpBox p:first-of-type {
    padding-bottom: 50px;
}
